@import './normalize.css';

body {
  background: linear-gradient(90deg,
        rgba(48, 16, 255, 1) 0%,
        rgba(100, 115, 255, 1) 100%);
  color: #ffffff;
  font-family: 'Roboto', 'Verdana', sans-serif;
}

.App {
  width: 98%;
  background: #161a2b;
  text-align: center;
  margin: 30px auto;
  border-radius: 10px;
  padding-bottom: 20px;
}

.header {
  padding: 20px;
}

input {
  display: block;
  max-width: 200px;
  width: 90%;
  padding: 20px;
  background: #E9EFF6;
  border-radius: 20px;
}

.header__input {
  margin: 20px auto;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 20px 0;
}

.main {
  width: 99%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.todos-section {
  width: 25%;
  border: 1px solid blue;
}

button {
  padding: 10px;
  cursor: pointer;
  background: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%);
  color: #fff;
  margin-right: 10px;
}

.add-todo-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.todo {
  border: 2px solid #5d0cff;
  display: flex;
  align-items: center;
  padding: 10px;
}

.todo_isWaiting {
  background-color: #666666;
}

.todo_isProgress {
  background-color: #6699CC;
}

.todo_isCompleted {
  background-color: #009933;
}

.todo__text {
  text-overflow: ellipsis;
  overflow: hidden;
}

li {
  list-style-type: none;
}

.width-changing-slider {
  position: absolute;
  left: 25%;
  cursor: e-resize;
  height: 100%;
  width: 10px;
  transform: translate(-50%);
}

.edit-todos {
  width: 75%;
  border: 1px solid blue;
}

.edit-todos__edit-input {
  margin: 0 auto 20px;
}

.todo__edit-button {
  margin-left: auto;
}
